body{
font-size:11px;
color:#000000;
padding:0;
margin:0;
}
header#main {
width:100%;height:43px;
      padding-top:10px;
      padding-left:33px;
      background:url(../images/sprites.png) top left no-repeat;
}
#logo{width:227px;height:33px;text-indent:-10000px;background:url(../images/sprites.png) left -56px no-repeat;}
